.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

/*------------------------------------------*/

.logoArea {
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
/*------------------------------------------*/

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
.social-wrap {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.social-wrap a {
    text-decoration: none;
    width: 300px;
}

button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

button#facebook:hover {
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}

ul.sm-wrap li {
    font-family: "Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

ul.sm-wrap a {
    text-decoration: none;
}
/*------------------------------------------*/
