.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    /* IE6-9 */
}
/*------------------------------------------*/

.logoArea {
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
/*------------------------------------------*/

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
.social-wrap {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.social-wrap a {
    text-decoration: none;
    width: 300px;
}

button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

button#facebook:hover {
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}

ul.sm-wrap li {
    font-family: "Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

ul.sm-wrap a {
    text-decoration: none;
}
/*------------------------------------------*/
